html,body,ul,h1,h2,h3,h4,h5{margin: 0;padding: 0;}
ul{list-style-type: none;}
a {outline-style:none;color:#fff;text-decoration:none}
a:hover { color: #000; text-decoration: none}
.circle{
	position: fixed;
	height: 220px;
    width: 220px;
    z-index: 999;
    -webkit-transform: translate3d(-38%,-38%,0);
    transform: translate3d(-38%,-38%,0);
    transition-duration: 500ms;
}
.circle.open{
	-webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.center{
	background-color:rgba(255,255,255,0.3);
	border-radius:50%;
	border:2px solid #ffffff;
	bottom:0;
	color:white;
	height:70px;
	left:0;
	line-height:70px;
	margin:auto;
	position:absolute;
	right:0;
	text-align:center;
	top:0;
	width:70px;
	-webkit-transition:all 0.4s ease-out;
	-moz-transition:all 0.4s ease-out;
	transition:all 0.4s ease-out;
}
.menu{
    position: relative;
    height: 100%;
    width: 100%;
	background-color:rgba(0,0,0,0.5);
	border-radius:50%;
	opacity:0;
	-webkit-transform-origin:50% 50%;
	-moz-transform-origin:50% 50%;
	transform-origin:50% 50%;
	-webkit-transform:scale(0.1) rotate(-270deg);
	-moz-transform:scale(0.1) rotate(-270deg);
	-transform:scale(0.1) rotate(-270deg);
	-webkit-transition:all 0.4s ease-out;
	-moz-transition:all 0.4s ease-out;
	transition:all 0.4s ease-out;
}
.open .menu{
	opacity:1;
	-webkit-transform:scale(1) rotate(0);
	-moz-transform:scale(1) rotate(0);
	-transform:scale(1) rotate(0);
}
.menu li{
    border-radius: 50%;
    color: #eeeeee;
    display: block;
    height: 40px;
    line-height: 40px;
    margin-left: -20px;
    margin-top: -20px;
    position: absolute;
    text-align: center;
    width: 40px
}

.section{
	
}
.ims-slide{
	box-sizing: border-box;
	display:block;
	width:900px;
	height:700px;
	padding:40px 60px;
	border-radius:10px;
	background-color:white;
	box-shadow:0 2px 6px rgba(0,0,0,.1);
	border:1px solid rgba(0,0,0,.3);
	font-family:'Open Sans',Arial,sans-serif;
	color:rgb(102,102,102);
	text-shadow:0 2px 2px rgba(0,0,0,.1);
	font-size:30px;
	line-height:36px;
	letter-spacing:-1px;
}
.swiper-container{
	color: #fff;
}
.gallery-top{
	width: 100%;
	height: 80%;
}
.gallery-top .swiper-slide{
	position: relative;
}
.gallery-thumbs{
	height: 20%;
	box-sizing: border-box;
    padding: 10px 0;
}
.gallery-thumbs .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}
.gallery-thumbs .swiper-slide-active {
    opacity: 1;
}
.fp-tableCell,.fp-section.fp-table{
	display: block;
	height: 100% !important;
}
.blog-link{
	position: absolute;
	top: 15px;
	left: 50%;
	font-size: 20px;
	text-decoration: underline;
	z-index: 1;
	transform: translateX(-50%);
}
.blog-link a{
	color: #191919;
}
.wordcloud,.sunburst{
	width: 100%;
	height: 100%;
}
.text-container{
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 20px;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
	background-color: rgba(0,0,0,.5);
}
.text-container .project-name{
	font-size: 28pt;
	color: #e1e1e1;
}
.text-container .tag{
	display: inline-block;
	padding: 6px 8px;
	background-color: #34b4cd;
	border-radius: 6px;
}
.text-container .introduce{
	font-size: 16pt;
	color: #e1e1e1;
}
.text-container .try-btn{
	font-size: 20pt;
	text-decoration: underline;
	color: blue;
}